
/*font-family: 'Open Sans Condensed', sans-serif;*/

header {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: thin;
  /*color: black;*/
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

li {
  list-style: none;
}

.row {
  text-align: center;
}

body {
  background-color: #00514B;
  /*color: white;*/
}

.well {
  /*background-color: #4ABEB5;*/
  border-style: solid;
  border-color: black;
  border-width: thin;

  /*color: black;*/
}

button {
  color: black;
}
