<h2>About Blog</h2>

<p>The Blog website is a place where users can create, post, edit, and delete a blog about anything they choose. Users are also encouraged to read the blog posts of other users.</p>
