<div class="container">
  <br>
  <header>
    <h1>Blogga The Hut</h1>
    <div class="row">
      <div class="col-sm-4">
        {{#link-to 'about'}}About{{/link-to}}
      </div>
      <div class="col-sm-4">
        {{#link-to 'contact'}}Contact us{{/link-to}}
      </div>
      <div class="col-sm-4">
        {{#link-to 'index'}}Home{{/link-to}}
      </div>
    </div>
  </header>
  {{outlet}}
</div>
