<div class="container">
  <header>
    <h1>Blog</h1>
    {{#link-to 'about'}}About{{/link-to}} {{#link-to 'contact'}}Contact us{{/link-to}} {{#link-to 'index'}}Home{{/link-to}}
  </header>
  {{outlet}}
</div>
